
<template>
  <div class="container">
    
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          v-model="name"
        />
        <!-- <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        > -->
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          v-model="lastName"
        />
      </div>
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="button" class="btn btn-primary" @click="addRecord">
        Submit
      </button>
    </form>


    <!-- <div>
        <th>
            <td>Name</td>
            <td>Last Name</td>
        </th>
        <tr v-for="record in records" :key="record.id">
            <td>{{record.name}}</td>
            <td>{{record.lastName}}</td>
            <td @click="updateForm(record.id)"> <a href="#"> Update </a></td>
            <td> <a @click="del(record.id)" href="#"> Delete </a></td>
        </tr>
    </div> -->

    <!-- <div id="editform" :style="{ visibility: visishow ? 'visible' : 'hidden'}">
        <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          v-model="name"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          v-model="lastName"
        />
      </div>
      <button type="button" class="btn btn-primary" @click="update">Edit</button>
    </form>
    </div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      lastName: "",
    };
  },
  methods: {
    
    //   add new record
    addRecord() {
      axios
        .post("/addNewRecord", { name: this.name, lastName: this.lastName })
        .then(() => alert("Record has been saved!"))
        .catch((error) => console.log(error));
    },

  },
};
</script>
