<template>
    <div class="container">
        <div>
            <th>
                <td>Name</td>
                <td>Last Name</td>
            </th>
            <tr v-for="record in records" :key="record.id">
                <td>{{record.name}}</td>
                <td>{{record.lastName}}</td>
                <td @click="updateForm(record.id)"> <a href="#"> Update </a></td>
                <td> <a @click="del(record.id)" href="#"> Delete </a></td>
            </tr>
            </div>

        <div id="editform" :style="{ visibility: visishow ? 'visible' : 'hidden'}">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                    type="text"
                    class="form-control"
                    id="name"
                    aria-describedby="emailHelp"
                    v-model="name"
                    />
                    <!-- <small id="emailHelp" class="form-text text-muted"
                    >We'll never share your email with anyone else.</small
                    > -->
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    v-model="lastName"
                    />
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="button" class="btn btn-primary" @click="update">Edit</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
  data: () => {
    return {
      records: [],
      name: "",
      lastName: "",
      editId: "",
      visishow: false,
    };
  },

  mounted() {
    this.getRecords();
  },

  methods: {
    //   get records
    getRecords() {
      axios
        .get("/getRecords")
        .then((response) => (this.records = response.data))
        .catch((error) => console.log(error));
    },

    // delete
    del(id) {
      axios
        .post("/delete", { id: id })
        .then(() => alert("record has been deleted!"))
        .catch((error) => console.log(error));
    },

    updateForm(id) {
      this.editId = id;
      this.visishow = !this.visishow;
    },

    // update
    update() {
      axios
        .post("/edit", {
          id: this.editId,
          name: this.name,
          lastName: this.lastName,
        })
        .then(() => alert("record has been updated!"))
        .catch((error) => console.log(error));
    },
  },
};
</script>